.box {
  display: flex;
  min-height: 200px;
  color: var(--dark);
  border: 1px solid var(--secondary);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 35%;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  color: var(--danger);
  background-color: var(--white);
  border: 1px solid var(--secondary);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 35%;
}

@media (max-width: 720px) {
  .box {
    width: 90%;
  }
  .message {
    width: 90%;
  }
}
