.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 1rem;
  padding-inline: 5rem;
}

.quote-center {
  width: 100%;
}

.box {
  display: flex;
  min-height: 200px;
  color: var(--dark);
  border: 1px solid var(--secondary);
  border-radius: 0.5rem;
  padding: 1rem;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  color: var(--danger);
  background-color: var(--white);
  border: 1px solid var(--secondary);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 35%;
}

.back-btn {
  display: block;
  width: 120px;
  /* margin: 1rem; */
  text-decoration: none;
  background-color: var(--light-gray);
  color: var(--dark);
  border-radius: 0.5rem;
  align-self: flex-start;
}

@media (max-width: 720px) {
  .box {
    width: 90%;
  }
  .message {
    width: 90%;
  }
}
