.form-card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 1rem 2rem;
  gap: 20px;
  background-color: var(--light-gray);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}
.input-wrapper > label {
  padding-bottom: 0.5rem;
}

.field {
  color: var(--dark);
  border: 1px solid var(--dark);
  padding: 0.8rem;
  border-radius: 0.3rem;
}

.sort-btn {
  background-color: var(--dark);
  color: var(--light);
  padding: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
