.box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.vertical-spacing {
  padding: 1rem 0;
}

.btn {
  width: 120px;
  border: none;
  outline: none;
  padding: 0.8rem;
  border-radius: 2rem;
  background-color: var(--dark);
  color: var(--light);
  cursor: pointer;
}

.btn:disabled {
  background-color: var(--light-gray);
  color: var(--dark);
}
