.box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.vertical-spacing {
  padding: 1rem 0;
}

.quote-btn {
  background-color: var(--dark);
  color: var(--light);
  border-radius: 0.5rem;
  width: 120px;
}
